VITE_CLERK_PUBLISHABLE_KEY=clerk_publishable_key

CLERK_SECRET_KEY=clerk_secret_key
AZURE_TENANT_ID=azure_tenant_id
AZURE_CLIENT_ID=azure_client_id
AZURE_CLIENT_SECRET=azure_client_secret
AZURE_SUBSCRIPTION_ID=azure_subscription_id
APIM_RESOURCE_GROUP=resource_group_name
APIM_SERVICE_NAME=apim_service_name
APIM_API_VERSION=2024-05-01
VITE_APIM_GATEWAY_URL=api_gateway_url

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_STARTER_PRICE_ID=price_...
STRIPE_PROFESSIONAL_PRICE_ID=price_...