# Environment variables for the frontend
VITE_CLERK_PUBLISHABLE_KEY=clerk_publishable_key
VITE_WAITLIST_MODE=true

# Environment variables for the server side code

## Environment variables for Clerk
CLERK_SECRET_KEY=clerk_secret_key



## Environment variables for Resend
RESEND_API_KEY=resend_api_key

## Environment variables for Azure
AZURE_TENANT_ID=azure_tenant_id
AZURE_CLIENT_ID=azure_client_id
AZURE_CLIENT_SECRET=azure_client_secret
AZURE_SUBSCRIPTION_ID=azure_subscription_id
APIM_RESOURCE_GROUP=resource_group_name
APIM_SERVICE_NAME=apim_service_name
APIM_API_VERSION=2024-05-01 # This is the API version for the APIM service
VITE_APIM_GATEWAY_URL=api_gateway_url # This is the URL of the APIM service

## Environment variables for APIM
APIM_STUDENT_PRODUCT_ID=student-pilot
APIM_PRIVATE_PRODUCT_ID=private-pilot
APIM_COMMERCIAL_PRODUCT_ID=commercial-pilot

# Environment variables for Stripe
STRIPE_SECRET_KEY=stripe_secret_key
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret
STRIPE_PRIVATE_PRICE_ID=stripe_private_price_id
STRIPE_COMMERCIAL_PRICE_ID=stripe_commercial_price_id